---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<GOOGLEAPI_API_KEY>&maxResults=1&part=snippet&q=nomatch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "IV4Ot2Zz7SUn55ZD8JCyMxH1Ktc",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 5,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "DSBcQ3JhPuDA2mJKEWO3Dgg9LiE",
              "id": {
                "kind": "youtube#video",
                "videoId": "rAKxmRI4wHI"
              },
              "snippet": {
                "publishedAt": "2019-10-26T20:24:02Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Chad",
                "description": "Pictures Requiring Attribution: Estonian Foreign Ministry: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/rAKxmRI4wHI/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/rAKxmRI4wHI/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/rAKxmRI4wHI/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2019-10-26T20:24:02Z"
              }
            }
          ]
        }
  recorded_at: Mon, 13 Nov 2023 21:28:45 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=YO-apZC1IRb24YO_ZqUzjUt-fV16Iv6e68NVY-7TC6Q&page=1&query=nomatch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Mon, 13 Nov 2023 21:28:46 GMT
recorded_with: VCR 6.2.0
